*{margin: 0;
 padding: 0;
 box-sizing: border-box;}

 header{
 margin-top: 30px;
 margin-left: 50px;
 
 }
 a{
 margin: 10px;
 width: 20px;
 height: 30px;
 font-size: 18px;

 }
 button{
height: 30px;
width: 90px;
border-radius: 20px;
font-size: 19px;
background: rgb(168, 245, 255);
 }
.btn{
color: rgb(14, 238, 43);
background-color: transparent;
border:none;
cursor: pointer;
margin-left: 200px;
}
 img{
width: 450px;
height: 420px;
margin-top: 120px;
margin-left: 80px;
display:inline-block
 }
 div{display: inline-block;}
 .paragf{
 font-weight: 400;  
 font-size: 18px; 
 line-height: 33px;
 letter-spacing: 0.5px;
 color:#4B505A;
 width: 493px;
 height: 120px;
 }
 h1{
width: 500px;
height: 40px;
font-size: 40px;
margin-left: 140px;
border: 20px;

 }
 h2{
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-left: 140px;

 }
p{
margin-left:140px;
font-size: 15px;
width:100px ;
height: 60vh;
border: 10px;
margin-top: 10px;


}
.div2{
    margin-top: 10px;
}

 

